ace_tools
ai21
aiobotocore
aiohappyeyeballs
aiohttp
aioitertools
aiolimiter
aiosignal
annotated-types
anthropic
anyio
argon2-cffi
argon2-cffi-bindings
arrow
arxiv
astroid
asttokens
async-lru
attrs
autopep8
babel
bce-python-sdk
beautifulsoup4
black
bleach
boto3
botocore
Bottleneck
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
cohere
comm
contourpy
cycler
dask
dataclasses-json
debugpy
decorator
deepmerge
defusedxml
dill
diskcache
distributed
distro
docstring_parser
docstring-to-markdown
entrypoints
et_xmlfile
eval_type_backport
executing
faiss-cpu
fastavro
fastjsonschema
feedparser
filelock
filetype
flake8
fonttools
fqdn
frozenlist
fsspec
future
google-ai-generativelanguage
google-api-core
google-auth
google-auth-oauthlib
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-genai
google-resumable-media
googleapis-common-protos
gpt4all
greenlet
grpc-google-iam-v1
grpcio
grpcio-status
gspread
h11
hf-xet
httpcore
httpx
httpx-sse
huggingface_hub
idna
importlib_metadata
ipykernel
ipython
ipython-genutils
ipython_pygments_lexers
ipywidgets
isoduration
isort
jedi
Jinja2
jiter
jmespath
joblib
jpype1
json5
jsonpatch
jsonpath-ng
jsonpointer
jsonschema
jsonschema-specifications
jupyter_ai
jupyter_ai_magics
jupyter_client
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-lsp
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
konlpy
langchain
langchain-anthropic
langchain-aws
langchain-cohere
langchain-community
langchain-core
langchain-google-genai
langchain-google-vertexai
langchain-mistralai
langchain-nvidia-ai-endpoints
langchain-ollama
langchain-openai
langchain-text-splitters
langsmith
locket
lxml
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mccabe
mdurl
mistune
msgpack
multidict
multiprocess
mypy_extensions
narwhals
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numexpr
numpy
oauthlib
ollama
openai
openpyxl
orjson
overrides
packaging
pandas
pandocfilters
parso
partd
pathspec
pexpect
pillow
pip
platformdirs
plotly
pluggy
ply
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
psycopg2-binary
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycodestyle
pycparser
pycryptodome
pydantic
pydantic_core
pydantic-settings
pydocstyle
pyflakes
Pygments
pylint
pyparsing
pypdf
python-dateutil
python-dotenv
python-json-logger
python-lsp-jsonrpc
python-lsp-server
pytokens
pytoolconfig
pytz
PyYAML
pyzmq
qianfan
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
rsa
s3fs
s3transfer
scikit-learn
scipy
seaborn
Send2Trash
setuptools
sgmllib3k
shellingham
six
sniffio
snowballstemmer
sortedcontainers
soupsieve
SQLAlchemy
stack-data
tabulate
tblib
tenacity
terminado
threadpoolctl
tiktoken
tinycss2
together
tokenizers
tomlkit
toolz
tornado
tqdm
traitlets
typer
typer-slim
types-python-dateutil
types-PyYAML
types-requests
typing_extensions
typing-inspect
typing-inspection
tzdata
ujson
uri-template
urllib3
uuid_utils
validators
wcwidth
webcolors
webencodings
websocket-client
websockets
whatthepatch
widgetsnbextension
wordcloud
wrapt
yapf
yarl
zict
zipp
zstandard
